/*@media only screen and (max-width:845px){
	h4{
		font-size:12px;
	}
	label{
		font-size:6px;
		margin-left:0px;
	}
	.form-control {
		height: 30px;
		font-size:8px;
	}
	.form-group span{
		font-size:8px;
	}
	p{
		font-size:8px;
	}
}*/
